body {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 14px;
}

.center-box {
	width: 80%;
	margin: 0 auto;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	color: #333;
	z-index: 999;
}

nav ul {
	margin-top: -50px;
	padding: 15px 0 15px 0;
	text-align: right;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: #333;
	transition: 0.3s all ease-in;
}

nav ul li a:hover {
	opacity: 0.5;
	transition: 0.3s all ease-in;
}

#header {
	background-image: url(../img/1.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	color: #fff;
}

#description {
	position: absolute;
	top: 50%;
	width: 40%;
	float: left;
}

#description h2 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

#description p {
	font-size: 20px;
}

#discounts {
	background-color: #eee;
	text-align: center;
	margin: 0;
	padding: 80px 0 80px 0;
}

#discounts h3 {
	margin: 0;
	padding-bottom: 30px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	color: #333;
}

#stores {
	color: #fff;
	background-color: #692474;
	padding: 20px 30px 20px 30px;
	box-sizing: border-box;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.boxes {
	width: 100%;
}

.box {
	width: 25%;
	display: inline-block;
	margin-right: 5.9%;
	margin-left: -2%;
	margin-top: 3%;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
	background-color: #fff;
	color: #333;
	padding: 20px 40px 20px 40px;
}

.box:first-child {
	margin-left: 0;
}

.box:last-child {
	margin-right: 0;
}

.box-left {
	float: left;
	text-align: left;
}

.box-left h4 {
	color: #692474;
	font-size: 20px;
	margin: 0;
	padding-bottom: 15px;
}

.box-left p {
	color: #333;
	margin: 0;
}

.box-right {
	text-align: right;
	font-size: 30px;
}

#more {
	margin-top: 40px;
	padding: 10px 30px 10px 30px;
	box-sizing: border-box;
	color: #692474;
	background-color: transparent;
	border: 1px solid #692474;
	border-radius: 10px;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.3s all ease-in;
}

#more:hover {
	color: #fff;
	background-color: #692474;
	transition: 0.3s all ease-in;
}

#how-to {
	background-color: #692474;
	color: #fff;
	text-align: center;
	padding: 80px 0 80px 0;
}

#how-to h3 {
	margin: 0;
	font-size: 21px;
	padding-bottom: 30px;
	text-transform: uppercase;
}

#icons {
	width: 90%;
	margin: 0 auto;
}

.icon {
	width: 28%;
	display: inline-block;
	margin-right: 5.9%;
	margin-left: -2%;
	margin-top: 3%;
}

.icon img {
	width: 30%;
}

.icon p {
	font-size: 18px;
}

footer {
	background-color: #333;
	margin: 0;
	padding: 60px 0 60px 0;
	box-sizing: border-box;
	text-align: center;
}

#social {
	width: 90%;
	margin: 0 auto;
}

footer img {
	width: 3%;
	display: inline-block;
	margin: 0 10px 0 10px;
	box-sizing: border-box;
	cursor: pointer;
}